html,
body {
  padding: 0px;
  margin: 0px;
}

.header-container {
  display: flex;
  margin-bottom: 25px;
  margin-top: 25px;
  justify-content: center;

}

.navigation-container {

  height: 80px;
  width: 100%;
  display: flex;
  background-color: #f8f8ff;
  justify-content: space-evenly;
}

.navigation-item {
  display: flex;
  color: black;
  height: 50px;
  width: 150px;
  margin-top: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  justify-content: center;

}

h1 {
  padding: 5px 50px 30px;
  font-family: 'Courier New', Courier, monospace;

}

.imglupe {
  display: flex;
  margin-top: 17px;
  margin-left: 95%;

}

.Topsellercontainer {
  display: flex;
  width: 100%;
  height: 600px;

  justify-content: center;
}


.swiper-button-next,
.swiper-button-prev {
  color: #f8f8ff;
}

a {
  text-decoration: none;
  color: black;
}

.Impressumcontainer {
  background-color: #f8f8ff;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 5%;
  display: flex;
  height: 300px;
  width: 100%;
  justify-content: space-evenly;

}

.containermaster {
  display: flex;

  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-evenly;
}


.kleinercontainera {
  width: 400px;
  margin-top: 25px;
  margin-bottom: 25px;

  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}


.Aktionencontainer {
  display: flex;
  width: 98%;
  height: 600px;
  margin-left: 1%;
  margin-right: 1%;

  justify-content: space-evenly;
}

.link {
  text-decoration: underline;
}

.Textunterbild {
  display: flex;
  justify-content: center;
  height: 50px;
  font-weight: bold;
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 50px;

}