html,
body {
  padding: 0px;
  margin: 0px;
}

.header-container {
  display: flex;
  margin-bottom: 25px;
  margin-top: 25px;
  justify-content: center;

}

.navigation-container {

  height: 80px;
  width: 100%;
  display: flex;
  background-color: #f8f8ff;
  justify-content: space-evenly;
}

.navigation-item {
  display: flex;
  color: black;
  height: 50px;
  width: 150px;
  margin-top: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  justify-content: center;

}

.imglupe {
  display: flex;
  margin-top: 17px;
  margin-left: 95%;
}

h1 {
  padding: 5px 50px 10px;
  font-family: 'Courier New', Courier, monospace;

}

.Produkte-container {
  display: flex;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  height: 600px;
  justify-content: space-evenly;



}


.produkt-item {

  width: 350px;
  height: 600px;


}

.alle-produkte {
  display: flex;
  height: 40px;
  background-color: #d1d1e0;
  font-family: 'Courier New', Courier, monospace;
  width: 98%;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 35px;
  font-weight: bold;
  justify-content: space-evenly;
  text-decoration: underline;

}

.img {
  width: 350px;
  height: 600px;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  padding: 0px 50px 10px;
  font-family: 'Courier New', Courier, monospace;
}

.Impressumcontainer {
  background-color: #f8f8ff;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 50px;
  display: flex;
  height: 300px;
  width: 100%;
  justify-content: space-evenly;

}

.containermaster {
  display: flex;

  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-evenly;
}


.kleinercontainera {
  width: 400px;
  margin-top: 25px;
  margin-bottom: 25px;

  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.link {
  text-decoration: underline;
}